.app-side-menu {
  display: flex;
  flex: 0 0 15rem;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
  border-right: 1px solid var(--p-content-border-color);
  background: var(--p-content-background);
}

a {
  padding: 0.5rem 0.75rem;
  border-radius: var(--p-content-border-radius);
  color: inherit;
  text-decoration: none;

  &:hover {
    background: var(--p-content-hover-background);
  }

  &.active {
    background: var(--p-highlight-background);
    color: var(--p-highlight-color);
  }
}
